@page "/datafromfile"
@inherits DataFromFileBase
<PageTitle>DataFromFile</PageTitle>

<h1>Machine Data from File</h1>

@*@if(Assets is null){

    <h3>Sorry , No Data Available</h3>
}
else*@

    <div class="input-group mb-3" style="width:500px">

    <input type="text" class="form-control" placeholder="filepath of  text/json file"  aria-describedby="basic-addon2" @bind-value="FilePath" />
     
        
    <button type="button" class="btn btn-primary" style="margin-left:30px" @onclick="OnButtonClick">Get All Machines </button>
    
     
    </div>
<div class="input-group mb-3" style="width:500px">
    
    <input type="text" class="form-control" placeholder="machine type"  aria-describedby="basic-addon2" @bind="MachineType" />  


    <button type="button" class="btn btn-primary" style="margin-left:30px" @onclick="OnButtonClick2">Get Asset By Machine Type</button>


</div>

<div class="input-group mb-3" style="width:500px">

    <input type="text" class="form-control" placeholder="machine type" aria-describedby="basic-addon2" @bind="AssetType" />


    <button type="button" class="btn btn-primary" style="margin-left:30px" @onclick="OnButtonClick3">Get Machine By Asset Type</button>


</div>
<div class="input-group mb-3" style="width:500px">


<button type="button" class="btn btn-primary"  @onclick="OnButtonClick4">Latest Versions</button>


</div>

    @if(Assets is not null){
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Machine Type</th>
                        <th scope="col">Asset Type</th>
                        <th scope="col">Version</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach(var asset in Assets){
                    <tr>
                        <td>@asset.MachineName</td>
                        <td>@asset.AssetName</td>
                        <td>@asset.SeriesNumber</td>
                    </tr>
                    }
                </tbody>
            </table>
    }
   




    