@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Welcome to machine data </h1>
 <br/>

<h5>On this site you can get  required machine data which is present in our database or by text or json file that you provided</h5>
 


